{% load i18n %}
<h3>{% blocktrans with filter_title=title %}{{ filter_title }}{% endblocktrans %}</h3>
<div class="date-range-filter">
	<form method="GET">
		{% for k, v in request.GET.lists %}
			{% if k != spec.parameter_name %}
				{% for v_item in v %}
					<input type="hidden" name="{{ k }}" value="{{ v_item }}">
				{% endfor %}
			{% endif %}
		{% endfor %}
		<input
			type="date"
			name="{{ spec.parameter_name }}"
			value="{{ spec.value|default:'' }}"
			class="vDateField"
			onchange="this.form.submit();"
		>
	</form>
</div>