input, textarea, select {
    border: 1px #e5e7eb solid;
    border-radius: 8px;
    padding: 6px;
}

#changelist-actions > div.flex.flex-row.gap-2.lg\:flex-row > button {
    display: block !important;
}

#changelist-actions > div.flex.flex-row.gap-2.lg\:flex-row > label > select {
    color: black !important;
}

.related-widget-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}